<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <style>
        table,th,tr,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <th>Post Title</th>
        <th>Post Category</th>
        <th>Published Date</th>
        <th>Posted By</th>
        {% for dt3 in data3 %}
        <tr>
            <td>{{dt3.post_name}}</td>
            <td>{{dt3.post_cat}}</td>
            <td>{{dt3.post_publish_date}}</td>
            <td>{{dt3.user}}</td>
        </tr>
        {% endfor %}
    </table> 
</body>
</html>